/* Overwrite backend bootstrap css settings in editor mode */

/* EDITOR: Basics */
#email_body_html.o_mail_body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: table;
}

body .oe_mobile_preview.modal .modal-content .modal-header .modal-title {
    color: #7d7d7d;
    font-size: 12px;
}
body .oe_mobile_preview #oe_main_menu_navbar {
    display: none;
}

/* Edit button for image links */
.hover-edition-button {
    position: absolute !important;
}

/* Snippet Drop Zone Size */
.oe_drop_zone.oe_insert {
    height: 24px;
    margin-top: -4px;
    margin-bottom: -20px;
}
/* FIX FOR DROPZONE INDICATORS */
/* ATTENTION: REMOVE THIS IF IT CAUSES ANY TROUBLES */
#emailBody {
    position: relative;
}

/* no text decoration for snippet option buttons */
#oe_manipulators a {
    text-decoration: none;
}

/* EDITOR: Normal navigation bar */
#oe_main_menu_navbar {
    min-height: 41px;
    border: none;
    border-bottom: 1px #3379b7 dotted;
    margin: 0;
    background: none;
    background-color: #fff;
}
#oe_main_menu_navbar li a,
#oe_main_menu_navbar li button {
    padding: 4px 8px 4px 8px;
    margin: 0 5px;
    font-size: 13px;
}
#oe_main_menu_navbar .btn-default:hover {
    background-color: #f7f7f7;
    text-decoration: underline;
}
#oe_main_menu_navbar .dropdown-submenu > a:after {
    margin-right: 0;
}

/* EDITOR: Editing navigation bar (CKEDITOR) */
#website-top-navbar,
#website-top-navbar.navbar-inverse {
    min-height: 40px;
    height: 40px;
    border: none;
    margin: 0;
    background: none;
    background-color: #fafafa;
}
#website-top-navbar form {
    line-height: 38px;
}
#website-top-navbar form button,
#website-top-navbar form a {
    margin-top: 0;
}
#website-top-navbar form a.btn-link:hover {
    color: inherit;
}
#website-top-navbar form a.btn-link:focus,
#website-top-navbar form a.btn-link:active {
    color: inherit;
}
a.hide-email-settings,
a:hover.hide-email-settings,
a:focus.hide-email-settings {
    border-left: 1px solid #acacac;
    margin-left: 6px;
}

#oe_editzone {
    margin-top: 5px;
    margin-left: 8px;
}
#oe_systray {
    margin-top: 5px;
}
#website-top-navbar #oe_rte_toolbar {
    margin-top: 4px;
}
#website-top-navbar li.navbar-form {
    margin-top: 9px !important;
}


/* SNIPPET MENU */
#oe_snippets .tab-content {
    margin: 0;
    padding: 5px 15px;
    background: #282828;
}
#oe_snippets .tab-content > div {
    background: #282828;
}
body #oe_snippets .nav > li.active {
    background: none !important;
}
.navbar #oe_snippets .navbar-nav > .open > a:focus,
.navbar #oe_snippets .navbar-nav > .active > a:focus,
.navbar-inverse #oe_snippets .navbar-nav > .open > a:focus,
.navbar-inverse #oe_snippets .navbar-nav > .active > a:focus,
.navbar #oe_snippets .navbar-nav > .open > a:hover,
.navbar #oe_snippets .navbar-nav > .active > a:hover,
.navbar-inverse #oe_snippets .navbar-nav > .open > a:hover,
.navbar-inverse #oe_snippets .navbar-nav > .active > a:hover,
.navbar #oe_snippets .navbar-nav > .open > a,
.navbar #oe_snippets .navbar-nav > .active > a,
.navbar-inverse #oe_snippets .navbar-nav > .open > a,
.navbar-inverse #oe_snippets .navbar-nav > .active > a {
    background: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Vertical dividers for the snippet menu */
.snippet_menu_vertical_divider {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: initial;
    width: 0;
    height: 75px;
    margin: 6px 11px 5px 10px;
    border-left: 2px #5f5f5f dotted;
}
.snippet_menu_vertical_divider_small {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: initial;
    width: 0;
    height: 75px;
    margin: 6px 2px 5px 2px;
    /*border-left: 2px #5f5f5f dotted;*/
}


#email_template_settings {
    width: 100%;
    height: auto;
    background-color: #fbfbfb;
    border-bottom: 1px dotted #3379b7;
    box-shadow: inset 0 0 4px #23537d45;
}
#email_template_settings span.form-control {
    overflow-wrap: break-word;
    overflow: auto;
    height: auto;
    min-height: 34px;
}
.email_template_settings_content {
    /*padding: 20px 0 0 0;*/
}
.email_template_settings_content .edit_info {
    width: 100%;
    text-align: center;
    padding: 5px 0 8px 0;
    height: 35px;
}
#wrapwrap.cke_editable .email_template_settings_content .edit_info * {
    display: none;
}


/*!* Image Dialogue *!*/
/*#image_data {*/
/*    padding: 12px;*/
/*    margin: 12px;*/
/*    border: 1px dotted grey;*/
/*}*/

/* TEXT Edit */
#email_designer_text_tools {
    padding: 12px;
    text-align: right;
    display: none;
}
#email_designer_text_content {
    padding: 6px;
}
#fso_email_text {
    padding: 6px 12px;
    background-color: white;
    border: 1px dotted grey;
    min-height: 6em;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

/* Fix hover button not clickable because
it is too far down */
a:has(img) {
    display: inline-block;
}

