/* Overwrite problematic backend bootstrap css settings in editor mode */
/* background-color was already added to khma email theme */
body {
    background-color: #e8e6e4;
}

/* EDITOR: Basics */
#email_body_html.o_mail_body {
    width: 600px;
    margin: 0 auto;
    padding: 0;
    display: table;
}
.oe_drop_zone.oe_insert {
    height: 24px;
    margin-top: -4px;
    margin-bottom: -20px;
    /*width: 100%;*/
    /*position: absolute;*/
    /*z-index: 1000;*/
}
/* Snippet buttons and dotted outline z-index */
.oe_overlay {
    /*z-index: 1049;*/
}
/* no text decoration for snippet option buttons */
#oe_manipulators a {
    text-decoration: none;
}

/* EDITOR: Normal navigation bar */
#oe_main_menu_navbar {
    min-height: 41px;
    border: none;
    border-bottom: 1px #3379b7 dotted;
    margin: 0;
    background: none;
    background-color: #fff;
}
#oe_main_menu_navbar li a,
#oe_main_menu_navbar li button {
    padding: 4px 8px 4px 8px;
    margin: 0 5px;
    font-size: 13px;
}
#oe_main_menu_navbar .btn-default:hover {
    background-color: #f7f7f7;
    text-decoration: underline;
}
#oe_main_menu_navbar .dropdown-submenu > a:after {
    margin-right: 0;
}

/* EDITOR: Editing navigation bar (CKEDITOR) */
#website-top-navbar,
#website-top-navbar.navbar-inverse {
    min-height: 40px;
    height: 40px;
    border: none;
    margin: 0;
    background: none;
    background-color: #fafafa;
}
#website-top-navbar form {
    line-height: 38px;
}
#website-top-navbar form button,
#website-top-navbar form a {
    margin-top: 0;
}
#website-top-navbar form a[data-action='cancel'] {
    color: #eb0000;
    padding-left: 0;
    padding-top: 2px;
}
#website-top-navbar form a.btn-link:hover,
#website-top-navbar form a.btn-link:focus {
    color: red;
}
#oe_editzone {
    margin-top: 5px;
    margin-left: 8px;
}
#oe_systray {
    margin-top: 5px;
}
#website-top-navbar #oe_rte_toolbar {
    margin-top: 4px;
}
#website-top-navbar li.navbar-form {
    margin-top: 9px !important;
}


/* SNIPPET MENU */
#oe_snippets .tab-content {
    margin: 0;
    padding: 5px 15px;
    background: #282828;
}
#oe_snippets .tab-content > div {
    background: #282828;
}
body #oe_snippets .nav > li.active {
    background: none !important;
}
.navbar #oe_snippets .navbar-nav > .open > a:focus,
.navbar #oe_snippets .navbar-nav > .active > a:focus,
.navbar-inverse #oe_snippets .navbar-nav > .open > a:focus,
.navbar-inverse #oe_snippets .navbar-nav > .active > a:focus,
.navbar #oe_snippets .navbar-nav > .open > a:hover,
.navbar #oe_snippets .navbar-nav > .active > a:hover,
.navbar-inverse #oe_snippets .navbar-nav > .open > a:hover,
.navbar-inverse #oe_snippets .navbar-nav > .active > a:hover,
.navbar #oe_snippets .navbar-nav > .open > a,
.navbar #oe_snippets .navbar-nav > .active > a,
.navbar-inverse #oe_snippets .navbar-nav > .open > a,
.navbar-inverse #oe_snippets .navbar-nav > .active > a {
    background: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.snippet_menu_vertical_divider {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: initial;
    width: 0;
    height: 75px;
    margin: 6px 11px 5px 10px;
    border-left: 2px #5f5f5f dotted;
}
.snippet_menu_vertical_divider_small {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: initial;
    width: 0;
    height: 75px;
    margin: 6px 2px 5px 2px;
    /*border-left: 2px #5f5f5f dotted;*/
}

