/* ---------------------------- */
/* SNIPPETS AND SNIPPET OPTIONS */
/* ---------------------------- */

/*  ----------------
    dadi_sb_fg_width
    dadi_sb_bg_width
    ---------------- */
.dadi_sb_bg_normal .flexibleContainerCell,
div.dadi_sb_fg_normal .flexibleContainerCell .nestedContainerCell {
    /*width: 560px;*/
    padding-left: 20px;
    padding-right: 20px;
}
.dadi_sb_bg_full .flexibleContainerCell,
div.dadi_sb_fg_full .flexibleContainerCell .nestedContainerCell {
    /*width: 600px;*/
    padding-left: 0;
    padding-right: 0;
}
.dadi_sb_bg_narrow .flexibleContainerCell,
div.dadi_sb_fg_narrow .flexibleContainerCell .nestedContainerCell {
    /*width: 520px;*/
    padding-left: 40px;
    padding-right: 40px;
}

/*  ----------------
    dadi_sb_fg_color
    dadi_sb_bg_color
    ---------------- */
.dadi_sb_bg_transparent .flexibleContainerCell,
.dadi_sb_fg_transparent .flexibleContainerCell .nestedContainerCell {
    background-color: transparent;
}

.dadi_sb_bg_darkgrey .flexibleContainerCell,
.dadi_sb_fg_darkgrey .flexibleContainerCell .nestedContainerCell {
    background-color: #929292;
    color: white;
}

.dadi_sb_bg_grey .flexibleContainerCell,
.dadi_sb_fg_grey .flexibleContainerCell .nestedContainerCell {
    background-color: #a1a4a5;
}

/* use this for the background color :) */
.dadi_sb_bg_lightgrey .flexibleContainerCell,
.dadi_sb_fg_lightgrey .flexibleContainerCell .nestedContainerCell {
    background-color: #f0f0f0;
}

.dadi_sb_bg_orange .flexibleContainerCell,
.dadi_sb_fg_orange .flexibleContainerCell .nestedContainerCell {
    background-color: #ff6827;
    color: white;
}

.dadi_sb_fg_darkgrey .flexibleContainerCell .nestedContainerCell,
.dadi_sb_fg_grey .flexibleContainerCell .nestedContainerCell,
.dadi_sb_fg_lightgrey .flexibleContainerCell .nestedContainerCell,
.dadi_sb_fg_orange .flexibleContainerCell .nestedContainerCell {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
}

/*
    snippet_block_spacer
*/
.snippet_block.snippet_block_spacer .flexibleContainerCell {
    padding: 0;
}
.snippet_block_spacer_top,
.snippet_block_spacer_bottom {
    width: 100%;
    height: 1px;
    line-height: 5px;
    font-size: 5px;
    padding: 0px;
    margin: 0px;
    border: none;
}

.snippet_block_spacer_top td {
    height: 10px;
    border-bottom: 1px solid transparent;
}
.snippet_block_spacer_bottom td {
    height: 10px;
}


.dadi_sb_spacer_medium .snippet_block_spacer_top td {
    height: 20px;
}
.dadi_sb_spacer_medium .snippet_block_spacer_bottom td {
    height: 20px;
}
.dadi_sb_spacer_large .snippet_block_spacer_top td {
    height: 40px;
}
.dadi_sb_spacer_large .snippet_block_spacer_bottom td {
    height: 40px;
}

.dadi_sb_spacer_solid .snippet_block_spacer_top td {
    border-bottom: 1px solid #707070;
}
.dadi_sb_spacer_dotted .snippet_block_spacer_top td {
    border-bottom: 1px dotted #707070;
}
.dadi_sb_spacer_dashed .snippet_block_spacer_top td {
    border-bottom: 1px dashed #707070;
}

/*
    snippet_block_banner
*/
.snippet_block_banner .textContent {
    line-height: 0px;
}

.snippet_block_banner .flexibleImage,
.snippet_block_banner.dadi_sb_bg_normal .flexibleImage {
    width: 560px;
    max-width: 560px;
}
.snippet_block_banner.dadi_sb_bg_full .flexibleImage {
    width: 600px;
    max-width: 600px;
}
.snippet_block_banner.dadi_sb_bg_narrow .flexibleImage {
    width: 520px;
    max-width: 520px;
}

/*
    snippet_block_text_intro
*/
.snippet_block_text_intro .flexibleContainerCell {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
    snippet_block_text_image_left
*/
.snippet_block_text_image_left .flexibleContainerCell {
    padding-top: 20px;
    padding-bottom: 20px;
}
.snippet_block_text_image_left .flexibleContainerLeft,
.snippet_block_text_image_left .flexibleContainerLeft .flexibleImage {
    width: 200px;
}
.snippet_block_text_image_left .flexibleContainerRight,
.snippet_block_text_image_left .flexibleContainerRight .flexibleImage {
    width: 340px;
}
.snippet_block_text_image_left.dadi_sb_fg_darkgrey .flexibleContainerRight,
.snippet_block_text_image_left.dadi_sb_fg_grey .flexibleContainerRight,
.snippet_block_text_image_left.dadi_sb_fg_lightgrey .flexibleContainerRight,
.snippet_block_text_image_left.dadi_sb_fg_orange .flexibleContainerRight {
    width: 300px;
}


/*
    snippet_block_text_image_right
*/
.snippet_block_text_image_right .flexibleContainerCell {
    padding-top: 20px;
    padding-bottom: 20px;
}
.snippet_block_text_image_right .flexibleContainerLeft,
.snippet_block_text_image_right .flexibleContainerLeft .flexibleImage {
    width: 340px;
}
.snippet_block_text_image_right .flexibleContainerRight,
.snippet_block_text_image_right .flexibleContainerRight .flexibleImage {
    width: 200px;
}
.snippet_block_text_image_right.dadi_sb_fg_darkgrey .flexibleContainerLeft,
.snippet_block_text_image_right.dadi_sb_fg_grey .flexibleContainerLeft,
.snippet_block_text_image_right.dadi_sb_fg_lightgrey .flexibleContainerLeft,
.snippet_block_text_image_right.dadi_sb_fg_orange .flexibleContainerLeft {
    width: 300px;
}

/*
    snippet_block_text_twocol
*/
.snippet_block_text_twocol .flexibleContainerCell {
    padding-top: 20px;
    padding-bottom: 20px;
}
.snippet_block_text_twocol .flexibleContainerLeft,
.snippet_block_text_twocol .flexibleContainerLeft .flexibleImage {
    width: 270px;
}
.snippet_block_text_twocol .flexibleContainerRight,
.snippet_block_text_twocol .flexibleContainerRight .flexibleImage {
    width: 270px;
}
.snippet_block_text_twocol.dadi_sb_fg_darkgrey .flexibleContainerLeft,
.snippet_block_text_twocol.dadi_sb_fg_grey .flexibleContainerLeft,
.snippet_block_text_twocol.dadi_sb_fg_lightgrey .flexibleContainerLeft,
.snippet_block_text_twocol.dadi_sb_fg_orange .flexibleContainerLeft {
    width: 250px;
}
.snippet_block_text_twocol.dadi_sb_fg_darkgrey .flexibleContainerRight,
.snippet_block_text_twocol.dadi_sb_fg_grey .flexibleContainerRight,
.snippet_block_text_twocol.dadi_sb_fg_lightgrey .flexibleContainerRight,
.snippet_block_text_twocol.dadi_sb_fg_orange .flexibleContainerRight {
    width: 250px;
}

/*
    snippet_block_text_threecol
*/
.snippet_block_text_threecol .flexibleContainerCell {
    padding-top: 20px;
    padding-bottom: 20px;
}
.snippet_block_text_threecol .flexibleContainer33,
.snippet_block_text_threecol .flexibleContainer33 .flexibleImage {
    width: 173px;
}
.snippet_block_text_threecol .flexibleContainer33middle {
    margin-left: 20px;
    margin-right: 20px;
}


/*
    drop_in_button
*/
.drop_in_button {
    display: inline;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
}
.drop_in_button a {
    display: block;
    border-radius: 6px;
    background-color: #007593;
    border: 1px solid transparent;
    padding: 2px 16px;
    text-decoration: none;
    color: #ffffff;
}

.drop_in_button.dadi_di_button_transparent a {
    background-color: transparent;
    border: 1px solid #929292;
}
.drop_in_button.dadi_di_button_transparent a {
    color: black;
}
.drop_in_button.dadi_di_button_black a {
    background-color: #000000;
}
.drop_in_button.dadi_di_button_green a {
    background-color: #458b3f;
}
.drop_in_button.dadi_di_button_yellow a {
    background-color: #ffd752;
}
.drop_in_button.dadi_di_button_yellow a{
    color: black;
}
.drop_in_button.dadi_di_button_red a {
    background-color: #b23132;
}

.drop_in_button.dadi_di_button_medium,
.drop_in_button.dadi_di_button_medium a {
    font-size: 36px;
    line-height: 60px;
    border-radius: 12px;
}
.drop_in_button.dadi_di_button_large,
.drop_in_button.dadi_di_button_large a {
    font-size: 48px;
    line-height: 80px;
    border-radius: 14px;
    font-weight: 700;
}
.drop_in_button.dadi_di_button_huge,
.drop_in_button.dadi_di_button_huge a {
    font-size: 64px;
    line-height: 120px;
    border-radius: 18px;
    font-weight: 700;
}

.drop_in_button.dadi_di_button_fullcenter {
    display: block;
    width: 100%;
    text-align: center;
}
.drop_in_button.dadi_di_button_fullcenter a {
    display: inline;
}
.drop_in_button.dadi_di_button_fullleft {
    display: block;
    width: 100%;
    text-align: left;
}
.drop_in_button.dadi_di_button_fullleft a {
    display: inline;
}
.drop_in_button.dadi_di_button_fullright {
    display: block;
    width: 100%;
    text-align: right;
}
.drop_in_button.dadi_di_button_fullright a {
    display: inline;
}
