.openerp, .ui-widget {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    color: #666666;
}
.ui-widget-content {
    color: inherit;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.openerp .oe_form_sheet {
    margin-bottom: 2em;
}
.openerp .oe_application .oe_form_sheetbg {
    background: none;
    border-bottom: none;
}

/* Disable vertical seperators between field-labels and fields adn better padding */
.openerp .oe_form td.oe_form_group_cell_label {
    border-right: 0 solid #ddd;
    padding: 4px 0 6px 0;
}

/* TOP MENU */
/* red: #bc2a30 */
/* pink: #b6008d */
/* orange: #f49800 */
#oe_main_menu_navbar.navbar-inverse {
    background-color: #b6008d;
    border: none;
}
#oe_main_menu_navbar.navbar {
    box-shadow: none;
}
#oe_main_menu_navbar.navbar-inverse .navbar-nav > li > a {
    color: #fff;

}

#oe_main_menu_navbar .navbar-collapse {
    padding-left: 0;
}

/* ATTENTION: if the navbar height is enlarged you have to lower the .openerp_webclient_container height also !!!*/
#oe_main_menu_navbar li a,
#oe_main_menu_navbar li button {
    min-height: 48px;
    padding: 19px 8px 2px 8px;
    margin: 0;
}
.openerp.openerp_webclient_container {
    height: calc(100% - 48px);
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #f49800;
}

#oe_main_menu_navbar.navbar-inverse .navbar-nav > .active > a,
#oe_main_menu_navbar.navbar-inverse .navbar-nav > .active > a:hover,
#oe_main_menu_navbar.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #b6008d;
    box-shadow: none;
    border-bottom: 6px solid #f72cc9;
    padding-top: 19px;
}
#oe_main_menu_navbar.navbar-inverse .navbar-nav > .open > a,
#oe_main_menu_navbar.navbar-inverse .navbar-nav > .open > a:hover,
#oe_main_menu_navbar.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #f49800;
}

#oe_main_menu_navbar #oe_main_menu_placeholder ul.oe_application_menu_placeholder > li:first-child a,
#oe_main_menu_navbar #oe_main_menu_placeholder ul.oe_application_menu_placeholder > li:first-child button {
    min-width: inherit;
    margin: 0 1em;
    font-size: 20px;
    padding: 16px 16px 4px 16px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/* For Mobile (collapsed) Menu View */
@media (max-width: 768px)
{
   .navbar-nav {
       margin: 0;
    }
}


/* LEFT MENU */
.openerp .oe_leftbar > div .oe_footer {
    display: none;
}

.openerp .oe_leftbar > div > div > div > div.oe_secondary_menus_container {
    padding-bottom: 36px;
}

.openerp .oe_leftbar {
    width: 220px;
    background: #fff;
    border-right: 1px solid #f7f7f7;
}

.openerp .oe_secondary_menu_section {
    color: #b6008d;
}
.openerp .nav-pills > li.active > a,
.openerp a.list-group-item.active > a {
    background-color: #ffffff;
    color: #f92fc7;
}
.openerp .nav-pills > li.active a:hover,
.openerp .nav-pills > li.active a:focus,
.openerp a.list-group-item.active a:hover,
.openerp a.list-group-item.active a:focus {
    background-color: #eee;
}

/* VIEW MANAGER HEADER */
.openerp .oe_view_manager_current > .oe_view_manager_header {
    border-bottom: 1px solid #ececec;
    background-color: #f5f5f5;
    background-image: inherit;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}
.openerp .oe_view_manager_current > .oe_view_manager_header {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* VIEW MANAGER BODY */
.openerp .oe_application > div > .oe_view_manager > .oe_view_manager_wrapper {
    box-shadow: None;
}
.openerp .oe_horizontal_separator {
    font-weight: bold;
    font-size: 18px;
    margin: 1em 0 0.5em 0;
    color: #b6008d;
}
a.oe_form_uri,
.openerp .oe_application a {
    color: #b6008d;
}

/* TABLES */
.openerp .oe_list_content > thead {
    border-top: 1px solid #ece8eb;
    border-bottom: 2px solid #ece8eb;
    background: #fafafa;
}
.openerp thead th {
    border-left: none;
}
.openerp .oe_list_content thead .oe_list_header_columns th {
    vertical-align: initial;
    line-height: normal;
    padding: 8px 6px;
}
.openerp .oe_list_content > tbody > tr {
    border-top: 1px solid #ececec;
}
.openerp .oe_list_content > tbody > tr:nth-child(odd) {
    background-color: #fafafa;
    background-image: inherit;
}
/* sort down/up arrow in tables */
.openerp .oe_list_content th.sortup,
.openerp .oe_list_content th.sortdown {
     color: #b6008d;
}
.openerp .oe_list_content th.sortup div:after,
.openerp .oe_list_content th.sortdown div:after {
    float: left;
}
.openerp .oe_list_content th.oe_list_header_handle.sortup div:after,
.openerp .oe_list_content th.oe_list_header_handle.sortdown div:after {
    /*display: block;*/
    margin-top: -4px;
}
.openerp .oe_list_content td,
.openerp .oe_list_content th {
    padding: 0 6px;
    line-height: 2em;
}
.openerp .oe_list_content > tbody > tr > td.oe_list_field_cell {
    padding: 0 6px;
}

.openerp .oe_list_content th.oe_sortable div:after {
    /*margin-top: 1.25em;*/
    border-color: #b6008d transparent;
}
.openerp .oe_list_content td.oe_list_field_handle .oe_list_handle {
    font-size: 1px;
    line-height: 1em;
    padding-top: 5px;
}
.openerp .oe_list_content > tfoot {
    border-top: 1px solid #ececec;
    border-bottom: 3px solid #ececec;
    background-color: #fafafa;
}
.openerp .oe_view_manager table.oe_view_manager_header h2 a {
    color: #b6008d;
}
.openerp .oe_stat_button .stat_button_icon {
    color: #b6008d;
}
.openerp .oe_stat_button:hover {
    background: #b6008d;
}
.openerp .oe_form_editable .oe_list_editable .oe_list_content td.oe_required {
    background-color: #ffecfb;
}

/* BUTTONS */
.openerp .oe_form .oe_form_button {
    margin: 0;
}

.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] {
    border: 1px solid rgb(214, 214, 214);
    color: #4c4c4c;
    background-color: #eaeaea;
    background-color: white;
    background-image: inherit;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    text-shadow: initial;
    line-height: 1.75em;
}
.openerp button.oe_highlight {
    color: #fff;
    font-weight: bold;
    background-color: #bc2a30;
    background-image: none;
    -moz-box-shadow: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
}

.openerp .oe_sidebar .oe_dropdown_menu .oe_sidebar_add_attachment:hover,
.openerp .oe_dropdown_menu > li:hover {
    background-image: inherit;
    background-color: #efefef;
}

.openerp .oe_searchview_drawer h4:hover,
.openerp .oe_searchview_drawer h4 *:hover {
    background-color: #f0f0f0;
}
.openerp .nav-pills > li.active a:hover,
.openerp .nav-pills > li.active a:focus,
.openerp a.list-group-item.active a:hover,
.openerp a.list-group-item.active a:focus {
    background-color: #eee;
}
.openerp .badge {
    background-color: #bc2a30;
}


/* NOTEBOOKS (TABS) */
.openerp .oe_notebook > li > a {
    line-height: 3em;
    background-color: #F9F9F9;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 1px;
}

.openerp .oe_notebook > li.ui-state-active > a,
.openerp .oe_notebook > li.ui-state-active > a:hover {
    border-top-color: #444444;
    border-radius: 0;
    margin-bottom: -1px;
    /*background-color: white;*/
    border-bottom: 2px solid white;
}
.ui-tabs .ui-tabs-nav li:hover, .ui-tabs .ui-tabs-nav li a:hover {
    background: whiteSmoke;
    border-bottom: 1px solid transparent;
    color: inherit;
}


.openerp .nav-pills > li.active .badge, .openerp a.list-group-item.active .badge {
    background-color: #bc2a30;
    color: #ffffff;
    text-shadow: none;
}


/* EXPERIMAENTAL */
.openerp .oe_form header {
    border-bottom: 1px solid #eee;
    padding-left: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(none);
    background-image: -webkit-linear-gradient(none);
    background-image: -moz-linear-gradient(none);
    background-image: -ms-linear-gradient(none);
    background-image: -o-linear-gradient(none);
    background-image: none;
    min-height: 41px;
    padding-top: 2px;
}

.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -ms-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* STATUS METER */
.openerp ul.oe_form_status li, .openerp ul.oe_form_status_clickable li {
    display: inline-block;
    list-style-type: none;
    margin: 0 -18px 0 0;
    padding: 0;
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -ms-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to bottom, #fff, #fff);
}
.openerp ul.oe_form_status li > .label, .openerp ul.oe_form_status_clickable li > .label {
    color: #4c4c4c;
    text-shadow: none;
}
.openerp ul.oe_form_status li > .arrow span, .openerp ul.oe_form_status_clickable li > .arrow span {

    background-color: #dedede;
    background: -moz-linear-gradient(135deg, #fff, #fff);
    background: -o-linear-gradient(135deg, #fff, #fff);
    background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#fff));
    background: -ms-linear-gradient(top, #fff, #fff);

    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.openerp ul.oe_form_status li.oe_active > .label, .openerp ul.oe_form_status_clickable li.oe_active > .label {
    text-shadow: none;
}
.openerp ul.oe_form_status li.oe_active,
.openerp ul.oe_form_status_clickable li.oe_active {
    background-color: #bc2a31;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bc2a31), to(#bc2a31));
    background-image: -webkit-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -moz-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -ms-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -o-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: linear-gradient(to bottom, #bc2a31, #bc2a31);
}
.openerp ul.oe_form_status_clickable li.oe_active:hover {
    background-color: #bc2a31;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bc2a31), to(#bc2a31));
    background-image: -webkit-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -moz-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -ms-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -o-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: linear-gradient(to bottom, #bc2a31, #bc2a31);
}
.openerp ul.oe_form_status_clickable li.oe_active:hover > .arrow span {
    background-color: #bc2a31;
    background: -moz-linear-gradient(135deg, #bc2a31, #bc2a31);
    background: -o-linear-gradient(135deg, #bc2a31, #bc2a31);
    background: -webkit-gradient(linear, left top, right bottom, from(#bc2a31), to(#bc2a31));
    background: -ms-linear-gradient(top, #bc2a31, #bc2a31);
}
.openerp ul.oe_form_status li.oe_active > .arrow span, .openerp ul.oe_form_status_clickable li.oe_active > .arrow span {
    background-color: #bc2a31;
    background: -moz-linear-gradient(135deg, #bc2a31, #bc2a31);
    background: -o-linear-gradient(135deg, #bc2a31, #bc2a31);
    background: -webkit-gradient(linear, left top, right bottom, from(#bc2a31), to(#bc2a31));
    background: -ms-linear-gradient(top, #bc2a31, #bc2a31);
}

.openerp ul.oe_form_status, .openerp ul.oe_form_status_clickable {
    margin-top: 4px;
}

.openerp ul.oe_form_status li > .arrow,
.openerp ul.oe_form_status_clickable li > .arrow {
    height: 29px;
}


/* CHATTER */
.openerp .oe_form div.oe_chatter {
    max-width: inherit;
    border-top: 1px solid whitesmoke;
    border-top: none;
}

/* KANBAN VIEWS */
html .openerp .oe_background_grey {
    background: #fff !important;
}
html .openerp .oe_kanban_view.oe_background_grey > table.oe_kanban_groups {
    background-color: #fff;
}
html .openerp .oe_kanban_view .oe_kanban_card,
html .openerp .oe_kanban_view .oe_kanban_quick_create {
    -webkit-transition: -webkit-transform, -webkit-box-shadow, border 200ms linear;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    /*background-color: #fff;*/
}
html .openerp * .oe_comment {
    font-weight: normal;
    padding: 3px 0;
}
html .openerp .oe_kanban_view .oe_kanban_vignette {
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.04) 1px 1px 2px;
    background-color: white;
    margin: 3px;
}
html .openerp .oe_kanban_view .oe_kanban_image {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
html .openerp .oe_kanban_view .oe_kanban_card:not(.ui-sortable-helper):hover,
html .openerp .oe_kanban_view .oe_kanban_quick_create:not(.ui-sortable-helper):hover {
    border: 1px solid #dcdcdc;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: none;
}
html .openerp .oe_kanban_view .oe_kanban_salesteams_avatars img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -box-shadow: none;
    box-shadow: none;
}

/* DATEPICKER AND CALENDER */
.ui-datepicker.ui-widget-content {
    border: 0 solid #aaaaaa;
}
html .openerp td.oe_calendar_sidebar_container {
    padding-top: 39px;
}
.ui-datepicker td .ui-state-hover {
    color: #ffffff;
    background: #bc2a31;
    background-color: #bc2a31;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#bc2a31), to(#bc2a31));
    background-image: -moz-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -ms-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bc2a31), color-stop(100%, #bc2a31));
    background-image: -webkit-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: -o-linear-gradient(top, #bc2a31, #bc2a31);
    background-image: linear-gradient(top, #bc2a31, #bc2a31);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc2a31', endColorstr='#bc2a31', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #bc2a31 #bc2a31 #bc2a31;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
html .fc-state-default {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-repeat: no-repeat;
    color: #333;
    text-shadow: none;
    box-shadow: none;
    border: 1px solid #eee;
}
html .fc-state-down,
html .fc-state-active {
    background-color: #cccccc;
    background-image: none;
    outline: 0;
    box-shadow: none;
}
html .fc-state-hover {
    color: #333333;
    text-decoration: none;
    background-position: inherit;
    background-color: #dddddd;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.fc-event-vert.fc-event-end {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.fc-event-vert.fc-event-start {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* IMAGES */
.openerp .oe_avatar > img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* PAGER */
html .openerp .oe_pager_group {
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
html .openerp .oe_pager_group li {
    border-right: none;
}
html .openerp .oe_pager_group a {
    padding: 0 8px 0 0;
}
html .openerp .oe_pager_group a:hover {
    color: #e000ae;
}


/* SEARCHBAR */
.openerp .oe_searchview {
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .oe_searchview.oe_focused {
    border-color: rgba(182, 0, 141, 0.32);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .oe_searchview .oe_searchview_facets {
    min-height: 23px;
    padding-top: 2px;
}


.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group .active a {
    /*text-shadow: none;*/
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group .active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group a {
    color: #929292;
}
.oe_view_manager_pager {
    color: #b6008d;
}
.openerp input, .openerp textarea, .openerp select {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0;
}
:focus {
    outline: solid transparent 0;
}
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]),
.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]),
.openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
    background-color: #ffecfb !important;
}

.openerp .oe_form input[type="text"],
.openerp .oe_form input[type="password"],
.openerp .oe_form input[type="file"],
.openerp .oe_form select,
.openerp .oe_form textarea {
    font-family: Roboto, Helvetica, Verdana, Arial, sans-serif;
    border-color: white;
    border-bottom-color: #ececec;
    border-radius: 0;
}

.openerp .oe_form .oe_form_field_text textarea {
    border-color: #ececec;
}
select {
	-webkit-border-radius: 0;
}
.openerp .oe_form input:focus,
.openerp .oe_form select:focus,
.openerp .oe_form textarea:focus {
    border-bottom-color: #fad7f4;
}

/* HTML EDITOR */
.cleditorMain {
    border: 1px solid #e3e3e3;
    padding: 0;
    background-color: white;
}
.cleditorToolbar {
    background: none;
    background-color: whitesmoke;
}

/* KANBAN VIEWS */
.openerp .oe_tag {
    border: none;
    font-size: 11px;
    padding: 2px 4px;
    margin: 0 2px 2px 0;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    min-width: 24px;
    background: #bc2a31;
    color: #ffffff;
    display: inline-block;
    word-break: break-word;
    text-shadow: none;
}
html .openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_column,
html .openerp .oe_kanban_view .oe_kanban_group_header {
    background: #ffffff;
    border: none;
}
html .openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_dummy_cell {
    background: none;
    background-color: #fafafa;
}

html body .openerp .oe_mail .oe_msg .oe_msg_footer {
    margin: 4px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    color: grey;
}
.openerp .oe_form textarea {
    border-color: #ececec;
    border-bottom-color: #ececec;
}
html .openerp .oe_mail button.oe_attach,
html .openerp .oe_mail button.oe_full {
    color: #b6008d;

}
html .openerp .oe_mail .oe_attach_label {
    color: #b6008d;
}

html .openerp .oe_followers button.oe_follower.oe_following {
    color: #666666;
    background-color: rgb(251, 241, 251);
    background-image: none;
}
html .openerp .oe_followers button,
html .openerp .oe_followers .oe_button,
html .openerp .oe_followers input[type='submit'] {
    /*border: 1px solid rgb(182, 0, 141);*/
}
html .openerp .oe_kanban_view .oe_kanban_action_button {
     height: inherit;
    /*margin: 0;*/
}
.openerp a.button:hover,
.openerp button:hover,
.openerp .oe_button:hover,
.openerp input[type='submit']:hover,
.openerp a.button:focus,
.openerp button:focus,
.openerp .oe_button:focus,
.openerp input[type='submit']:focus {
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: -moz-linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: -ms-linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: -o-linear-gradient(top, #f6f6f6, #f6f6f6);
    background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid rgb(214, 214, 214);
}

.openerp .oe_followers button.oe_follower.oe_following:hover {
    color: white;
    filter: none;
    background-color: #bc2b30;
    background-image: -webkit-linear-gradient(top, #bc2b30, #bc2b30);
    background-image: -moz-linear-gradient(top, #bc2b30, #bc2b30);
    background-image: -ms-linear-gradient(top, #bc2b30, #bc2b30);
    background-image: -o-linear-gradient(top, #bc2b30, #bc2b30);
    background-image: linear-gradient(to bottom, #bc2b30, #bc2b30);
}

.text-core .text-wrap .text-tags .text-tag .text-button {
    border: 1px solid #d6d6d6;
    background: #fbf1fc;
    color: #202020;
    font: 11px Roboto, "lucida grande", tahoma, verdana, arial, sans-serif;
}


.openerp .oe_list .oe_list_content .oe_group_header {
    background-color: #efefef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #efefef, #e4e4e4);
    background-image: -moz-linear-gradient(top, #efefef, #e4e4e4);
    background-image: -ms-linear-gradient(top, #efefef, #e4e4e4);
    background-image: -o-linear-gradient(top, #efefef, #e4e4e4);
    background-image: linear-gradient(to bottom, #efefef, #e4e4e4);
}

.oe_list_content .ui-icon {
    margin-top: 4px;
}
html .openerp .oe_kanban_view .oe_kanban_avatar {
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -box-shadow: none;
    margin-left: 1em;
}
html .openerp .oe_kanban_view .oe_kanban_content .oe_star_on,
html .openerp .oe_kanban_view .oe_kanban_content .oe_star_off {
    text-shadow: none;
}



html .openerp .oe_kanban_view .oe_kanban_group_title {
    text-shadow: none;
}
html .openerp .oe_kanban_view .oe_kanban_card,
html .openerp .oe_kanban_view .oe_kanban_quick_create {
    border: 1px solid #ececec;
    border-bottom-color: #ececec;
    -webkit-transition: -webkit-transform, -webkit-box-shadow, border 200ms linear;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
    /*margin-bottom: 6px;*/
    /*margin-right: 6px;*/
    /*margin-left: 6px;*/
}
html .openerp .oe_webclient .oe_star_on,
html .openerp .oe_webclient .oe_star_off,
html .openerp .modal-body .oe_star_on,
html .openerp .modal-body .oe_star_off {
    text-shadow: none;
}
html .openerp .oe_webclient .oe_star_on,
html .openerp .modal-body .oe_star_on {
    color: #b6008d;
}
html .openerp .oe_kanban_view .oe_kanban_content .oe_star_on {
    color: #b6008d;
}
html .openerp .oe_kanban_view .oe_kanban_footer_left > span {
    border: 1px solid #bc2a32;
}
html .openerp .oe_kanban_view .oe_kanban_footer_left .oe_kanban_mail_new {
    background-color: #bc2a31;
    /*top: 0;*/
}
html .openerp .oe_kanban_view .oe_kanban_group_title .oe_kanban_group_title_text {
    font-size: 16px;
    text-shadow: none;
    color: #666666;
}
html .openerp .oe_kanban_view .oe_kanban_column,
html .openerp .oe_kanban_view .oe_kanban_group_header {
    padding-bottom:1.5em;
    padding-left: 1.5em;
    padding-right: 2em;
}
html .openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_column.oe_kanban_group_folded,
html .openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_group_header.oe_kanban_group_folded {
    width: auto;
    min-width: 44px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: whitesmoke;
}
.openerp .oe_kanban_view .oe_kanban_group_folded .oe_kanban_group_title_vertical,
.openerp .oe_kanban_view .oe_kanban_group_folded .oe_kanban_group_length {
    padding-left: 6px;
}

html .openerp .oe_kanban_view .oe_kanban_color_1 {
    background-color: #efefef;
}
html .openerp .oe_kanban_view .oe_kanban_color_2 {
    background-color: #ffedfb;
}
html .openerp .oe_kanban_view .oe_kanban_color_3 {
    background-color: #fdf5db;
}
html .openerp .oe_kanban_view .oe_kanban_color_4 {
    background-color: #efffde;
}
html .openerp .oe_kanban_view .oe_kanban_color_5 {
    background-color: #e5ffeb;
}
html .openerp .oe_kanban_view .oe_kanban_color_6 {
    background-color: #e0fdfd;
}
html .openerp .oe_kanban_view .oe_kanban_color_7 {
    background-color: #e9efff;
}
html .openerp .oe_kanban_view .oe_kanban_color_8 {
    background-color: #f4e9ff;
}

html .oe_kanban_project_avatars img {
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.openerp .oe_tag {
    background: #b6008d;
}

.oe_kanban_vignette ul li a {
    font-size: 11px;
}


.openerp .oe_secondary_menu_section {
    padding-top: 0.25em;
    padding-bottom: 0.2em;
}
.openerp .nav-pills li > a {
    padding: 0 4px 2px 18px;
}

html .openerp .oe_kanban_view .oe_kanban_content div:first-child {
    margin: 0;
}

html .openerp .oe_kanban_view .oe_kanban_content > div:first-child {
    margin-bottom: 0.5em;
}
html .openerp .oe_kanban_view .oe_kanban_bottom_right {
    width: 100%;
}
html .openerp .oe_kanban_view .oe_kanban_column .oe_kanban_details > ul {
    margin-top: 1.5em;
}


.openerp .oe_kanban_view .oe_kanban_footer_left > span {
    margin-top: 0;
}
html .openerp .oe_kanban_view .oe_kanban_footer_left .oe_tags .oe_tag {
    line-height: inherit;
}

.action_open_issue_kanban {
    display: block;
    padding-top:12px;
}


.openerp div.backend-help {
    background-color: #fafafa;
    border: solid 3px #fafafa;
    border-left-color: bisque;
    padding: 0 1em;
    margin: 0 2em 0.5em 1em;
}
.openerp div.backend-help p {

}
.openerp img.product_page_template_images {
    width: 260px;
}
.openerp div.fso_backend_separator {
    color: #666666;
}

/* LABLES, FIELDS AND LINKS */
.openerp .oe_form label,
.openerp .oe_form td.oe_form_group_cell_label label {
    font-weight: inherit !important;
    color: #888;
}

.openerp .oe_button.oe_link {
    padding-left: 8px;
    padding-right: 8px;
}
.openerp .oe_button.oe_link:hover,
.openerp .oe_button.oe_link:focus {
    border: inherit;
    text-decoration: underline;
    background-color: inherit;
}
