/* Set forms to use nearly the full width */
.openerp .oe_form_sheet_width {
    max-width: 97% !important;
}

.openerp .oe_title {
    width: 100%;
}
.openerp .oe_tags.oe_inline {
    min-width: 100%;
}

/* Min height for modal boxes */
.modal-body {
    min-height: 600px;
}

/* modal boxes min width */
@media (min-width: 992px) {
   .modal-lg {
        width: 92%;
    }
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 92%;
    }
}


/* kanban views */
.openerp .oe_kanban_view .oe_kanban_vignette {
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.28) 1px 1px 2px;
    background-color: white;
    margin: 3px;
}
/* Smaller kanban titles */
.openerp .oe_kanban_view .oe_kanban_group_title .oe_kanban_group_title_text {
    font-size: 10px;
}
body .openerp .btn-group.kanban_state {
    padding-top: 0;
    /*margin-right: 4px !important;*/
}
body  .openerp .oe_kanban_view .oe_kanban_footer_left {
    margin-top: 0;
}

/* Date Picker and Date Input Fields */
.ui-datepicker,
.openerp .oe_form_editable .oe_form .oe_form_field_date input,
.openerp .oe_form_editable .oe_form .oe_form_field_datetime input {
    width: 240px;
}

/* Default colors in list views */
tr[style*="grey"] {
    color: #b9b9b9 !important;
}
tr[style*="blue"] {
    color: #1482e2 !important;
}

/* res.partner button box: Full width and left aligned */
#res_partner_form_button_box {
    width: 100%;
    margin-bottom: 2em;
    text-align: left;
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
    padding: 1em;
    /* background-color: #fafafa; */
}
