{
  "swagger": "2.0",
  "info": {
    "version": "2021-01-19 08:53:35",
    "title": "fundraising_studio"
  },
  "host": "demo.local.com",
  "basePath": "/api/v1/fundraising_studio",
  "schemes": [
    "http"
  ],
  "consumes": [
    "multipart/form-data",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/res.partner/call/search": {
      "patch": {
        "responses": {
          "200": {
            "description": "successful patch"
          },
          "400": {
            "$ref": "#/responses/400"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "description": "Requested model method is not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "$ref": "#/responses/500"
          }
        },
        "description": "Call method search for model res.partner",
        "parameters": [{
          "in": "body",
          "name": "search",
          "description": "Search for partner",
          "schema": {
            "type": "object",
            "required": ["domain"],
            "properties": {
              "domain": {
                "type": "array",
                "default": []
              }
            }
          }
        }],
        "produces": [
          "application/json"
        ],
        "tags": [
          "res.partner"
        ],
        "summary": "Patch res.partner",
        "consumes": [
          "application/json"
        ],
        "operationId": "callMethodForResPartnerModel"
      }
    }
  },
  "definitions": {
    "res.partner-read_one": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "res.partner-patch": {
      "type": "object",
      "example": {
        "args": [],
        "kwargs": {
          "body": "Message is posted via API by calling message_post method",
          "subject": "Test API"
        }
      }
    },
    "res.partner-read_many": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "ErrorResponse": {
      "required": [
        "error",
        "error_descrip"
      ],
      "type": "object",
      "properties": {
        "error_descrip": {
          "type": "string"
        },
        "error": {
          "type": "string"
        }
      }
    },
    "res.partner": {
      "required": [
        "property_account_receivable",
        "property_account_payable"
      ],
      "type": "object",
      "properties": {
        "ean13": {
          "type": "string"
        },
        "property_account_position": {
          "type": "integer"
        },
        "signup_valid": {
          "readOnly": true,
          "type": "boolean"
        },
        "date_localization": {
          "type": "string",
          "format": "date"
        },
        "ref_companies": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "sale_order_count": {
          "readOnly": true,
          "type": "integer"
        },
        "zip_id": {
          "type": "integer"
        },
        "purchase_order_count": {
          "readOnly": true,
          "type": "integer"
        },
        "write_uid": {
          "type": "integer"
        },
        "contact_address": {
          "readOnly": true,
          "type": "string"
        },
        "gdpr_accepted": {
          "type": "boolean"
        },
        "partner_weight": {
          "type": "integer"
        },
        "newsletter_web": {
          "type": "boolean"
        },
        "frst_personemail_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "property_product_pricelist": {
          "type": "integer"
        },
        "signup_url": {
          "readOnly": true,
          "type": "string"
        },
        "journal_item_count": {
          "readOnly": true,
          "type": "integer"
        },
        "parent_name": {
          "readOnly": true,
          "type": "string"
        },
        "tz": {
          "enum": [
            "Africa/Abidjan",
            "Africa/Accra",
            "Africa/Addis_Ababa",
            "Africa/Algiers",
            "Africa/Asmara",
            "Africa/Asmera",
            "Africa/Bamako",
            "Africa/Bangui",
            "Africa/Banjul",
            "Africa/Bissau",
            "Africa/Blantyre",
            "Africa/Brazzaville",
            "Africa/Bujumbura",
            "Africa/Cairo",
            "Africa/Casablanca",
            "Africa/Ceuta",
            "Africa/Conakry",
            "Africa/Dakar",
            "Africa/Dar_es_Salaam",
            "Africa/Djibouti",
            "Africa/Douala",
            "Africa/El_Aaiun",
            "Africa/Freetown",
            "Africa/Gaborone",
            "Africa/Harare",
            "Africa/Johannesburg",
            "Africa/Juba",
            "Africa/Kampala",
            "Africa/Khartoum",
            "Africa/Kigali",
            "Africa/Kinshasa",
            "Africa/Lagos",
            "Africa/Libreville",
            "Africa/Lome",
            "Africa/Luanda",
            "Africa/Lubumbashi",
            "Africa/Lusaka",
            "Africa/Malabo",
            "Africa/Maputo",
            "Africa/Maseru",
            "Africa/Mbabane",
            "Africa/Mogadishu",
            "Africa/Monrovia",
            "Africa/Nairobi",
            "Africa/Ndjamena",
            "Africa/Niamey",
            "Africa/Nouakchott",
            "Africa/Ouagadougou",
            "Africa/Porto-Novo",
            "Africa/Sao_Tome",
            "Africa/Timbuktu",
            "Africa/Tripoli",
            "Africa/Tunis",
            "Africa/Windhoek",
            "America/Adak",
            "America/Anchorage",
            "America/Anguilla",
            "America/Antigua",
            "America/Araguaina",
            "America/Argentina/Buenos_Aires",
            "America/Argentina/Catamarca",
            "America/Argentina/ComodRivadavia",
            "America/Argentina/Cordoba",
            "America/Argentina/Jujuy",
            "America/Argentina/La_Rioja",
            "America/Argentina/Mendoza",
            "America/Argentina/Rio_Gallegos",
            "America/Argentina/Salta",
            "America/Argentina/San_Juan",
            "America/Argentina/San_Luis",
            "America/Argentina/Tucuman",
            "America/Argentina/Ushuaia",
            "America/Aruba",
            "America/Asuncion",
            "America/Atikokan",
            "America/Atka",
            "America/Bahia",
            "America/Bahia_Banderas",
            "America/Barbados",
            "America/Belem",
            "America/Belize",
            "America/Blanc-Sablon",
            "America/Boa_Vista",
            "America/Bogota",
            "America/Boise",
            "America/Buenos_Aires",
            "America/Cambridge_Bay",
            "America/Campo_Grande",
            "America/Cancun",
            "America/Caracas",
            "America/Catamarca",
            "America/Cayenne",
            "America/Cayman",
            "America/Chicago",
            "America/Chihuahua",
            "America/Coral_Harbour",
            "America/Cordoba",
            "America/Costa_Rica",
            "America/Creston",
            "America/Cuiaba",
            "America/Curacao",
            "America/Danmarkshavn",
            "America/Dawson",
            "America/Dawson_Creek",
            "America/Denver",
            "America/Detroit",
            "America/Dominica",
            "America/Edmonton",
            "America/Eirunepe",
            "America/El_Salvador",
            "America/Ensenada",
            "America/Fort_Wayne",
            "America/Fortaleza",
            "America/Glace_Bay",
            "America/Godthab",
            "America/Goose_Bay",
            "America/Grand_Turk",
            "America/Grenada",
            "America/Guadeloupe",
            "America/Guatemala",
            "America/Guayaquil",
            "America/Guyana",
            "America/Halifax",
            "America/Havana",
            "America/Hermosillo",
            "America/Indiana/Indianapolis",
            "America/Indiana/Knox",
            "America/Indiana/Marengo",
            "America/Indiana/Petersburg",
            "America/Indiana/Tell_City",
            "America/Indiana/Vevay",
            "America/Indiana/Vincennes",
            "America/Indiana/Winamac",
            "America/Indianapolis",
            "America/Inuvik",
            "America/Iqaluit",
            "America/Jamaica",
            "America/Jujuy",
            "America/Juneau",
            "America/Kentucky/Louisville",
            "America/Kentucky/Monticello",
            "America/Knox_IN",
            "America/Kralendijk",
            "America/La_Paz",
            "America/Lima",
            "America/Los_Angeles",
            "America/Louisville",
            "America/Lower_Princes",
            "America/Maceio",
            "America/Managua",
            "America/Manaus",
            "America/Marigot",
            "America/Martinique",
            "America/Matamoros",
            "America/Mazatlan",
            "America/Mendoza",
            "America/Menominee",
            "America/Merida",
            "America/Metlakatla",
            "America/Mexico_City",
            "America/Miquelon",
            "America/Moncton",
            "America/Monterrey",
            "America/Montevideo",
            "America/Montreal",
            "America/Montserrat",
            "America/Nassau",
            "America/New_York",
            "America/Nipigon",
            "America/Nome",
            "America/Noronha",
            "America/North_Dakota/Beulah",
            "America/North_Dakota/Center",
            "America/North_Dakota/New_Salem",
            "America/Ojinaga",
            "America/Panama",
            "America/Pangnirtung",
            "America/Paramaribo",
            "America/Phoenix",
            "America/Port-au-Prince",
            "America/Port_of_Spain",
            "America/Porto_Acre",
            "America/Porto_Velho",
            "America/Puerto_Rico",
            "America/Rainy_River",
            "America/Rankin_Inlet",
            "America/Recife",
            "America/Regina",
            "America/Resolute",
            "America/Rio_Branco",
            "America/Rosario",
            "America/Santa_Isabel",
            "America/Santarem",
            "America/Santiago",
            "America/Santo_Domingo",
            "America/Sao_Paulo",
            "America/Scoresbysund",
            "America/Shiprock",
            "America/Sitka",
            "America/St_Barthelemy",
            "America/St_Johns",
            "America/St_Kitts",
            "America/St_Lucia",
            "America/St_Thomas",
            "America/St_Vincent",
            "America/Swift_Current",
            "America/Tegucigalpa",
            "America/Thule",
            "America/Thunder_Bay",
            "America/Tijuana",
            "America/Toronto",
            "America/Tortola",
            "America/Vancouver",
            "America/Virgin",
            "America/Whitehorse",
            "America/Winnipeg",
            "America/Yakutat",
            "America/Yellowknife",
            "Antarctica/Casey",
            "Antarctica/Davis",
            "Antarctica/DumontDUrville",
            "Antarctica/Macquarie",
            "Antarctica/Mawson",
            "Antarctica/McMurdo",
            "Antarctica/Palmer",
            "Antarctica/Rothera",
            "Antarctica/South_Pole",
            "Antarctica/Syowa",
            "Antarctica/Troll",
            "Antarctica/Vostok",
            "Arctic/Longyearbyen",
            "Asia/Aden",
            "Asia/Almaty",
            "Asia/Amman",
            "Asia/Anadyr",
            "Asia/Aqtau",
            "Asia/Aqtobe",
            "Asia/Ashgabat",
            "Asia/Ashkhabad",
            "Asia/Baghdad",
            "Asia/Bahrain",
            "Asia/Baku",
            "Asia/Bangkok",
            "Asia/Beirut",
            "Asia/Bishkek",
            "Asia/Brunei",
            "Asia/Calcutta",
            "Asia/Choibalsan",
            "Asia/Chongqing",
            "Asia/Chungking",
            "Asia/Colombo",
            "Asia/Dacca",
            "Asia/Damascus",
            "Asia/Dhaka",
            "Asia/Dili",
            "Asia/Dubai",
            "Asia/Dushanbe",
            "Asia/Gaza",
            "Asia/Harbin",
            "Asia/Hebron",
            "Asia/Ho_Chi_Minh",
            "Asia/Hong_Kong",
            "Asia/Hovd",
            "Asia/Irkutsk",
            "Asia/Istanbul",
            "Asia/Jakarta",
            "Asia/Jayapura",
            "Asia/Jerusalem",
            "Asia/Kabul",
            "Asia/Kamchatka",
            "Asia/Karachi",
            "Asia/Kashgar",
            "Asia/Kathmandu",
            "Asia/Katmandu",
            "Asia/Khandyga",
            "Asia/Kolkata",
            "Asia/Krasnoyarsk",
            "Asia/Kuala_Lumpur",
            "Asia/Kuching",
            "Asia/Kuwait",
            "Asia/Macao",
            "Asia/Macau",
            "Asia/Magadan",
            "Asia/Makassar",
            "Asia/Manila",
            "Asia/Muscat",
            "Asia/Nicosia",
            "Asia/Novokuznetsk",
            "Asia/Novosibirsk",
            "Asia/Omsk",
            "Asia/Oral",
            "Asia/Phnom_Penh",
            "Asia/Pontianak",
            "Asia/Pyongyang",
            "Asia/Qatar",
            "Asia/Qyzylorda",
            "Asia/Rangoon",
            "Asia/Riyadh",
            "Asia/Saigon",
            "Asia/Sakhalin",
            "Asia/Samarkand",
            "Asia/Seoul",
            "Asia/Shanghai",
            "Asia/Singapore",
            "Asia/Taipei",
            "Asia/Tashkent",
            "Asia/Tbilisi",
            "Asia/Tehran",
            "Asia/Tel_Aviv",
            "Asia/Thimbu",
            "Asia/Thimphu",
            "Asia/Tokyo",
            "Asia/Ujung_Pandang",
            "Asia/Ulaanbaatar",
            "Asia/Ulan_Bator",
            "Asia/Urumqi",
            "Asia/Ust-Nera",
            "Asia/Vientiane",
            "Asia/Vladivostok",
            "Asia/Yakutsk",
            "Asia/Yekaterinburg",
            "Asia/Yerevan",
            "Atlantic/Azores",
            "Atlantic/Bermuda",
            "Atlantic/Canary",
            "Atlantic/Cape_Verde",
            "Atlantic/Faeroe",
            "Atlantic/Faroe",
            "Atlantic/Jan_Mayen",
            "Atlantic/Madeira",
            "Atlantic/Reykjavik",
            "Atlantic/South_Georgia",
            "Atlantic/St_Helena",
            "Atlantic/Stanley",
            "Australia/ACT",
            "Australia/Adelaide",
            "Australia/Brisbane",
            "Australia/Broken_Hill",
            "Australia/Canberra",
            "Australia/Currie",
            "Australia/Darwin",
            "Australia/Eucla",
            "Australia/Hobart",
            "Australia/LHI",
            "Australia/Lindeman",
            "Australia/Lord_Howe",
            "Australia/Melbourne",
            "Australia/NSW",
            "Australia/North",
            "Australia/Perth",
            "Australia/Queensland",
            "Australia/South",
            "Australia/Sydney",
            "Australia/Tasmania",
            "Australia/Victoria",
            "Australia/West",
            "Australia/Yancowinna",
            "Brazil/Acre",
            "Brazil/DeNoronha",
            "Brazil/East",
            "Brazil/West",
            "CET",
            "CST6CDT",
            "Canada/Atlantic",
            "Canada/Central",
            "Canada/East-Saskatchewan",
            "Canada/Eastern",
            "Canada/Mountain",
            "Canada/Newfoundland",
            "Canada/Pacific",
            "Canada/Saskatchewan",
            "Canada/Yukon",
            "Chile/Continental",
            "Chile/EasterIsland",
            "Cuba",
            "EET",
            "EST",
            "EST5EDT",
            "Egypt",
            "Eire",
            "Europe/Amsterdam",
            "Europe/Andorra",
            "Europe/Athens",
            "Europe/Belfast",
            "Europe/Belgrade",
            "Europe/Berlin",
            "Europe/Bratislava",
            "Europe/Brussels",
            "Europe/Bucharest",
            "Europe/Budapest",
            "Europe/Busingen",
            "Europe/Chisinau",
            "Europe/Copenhagen",
            "Europe/Dublin",
            "Europe/Gibraltar",
            "Europe/Guernsey",
            "Europe/Helsinki",
            "Europe/Isle_of_Man",
            "Europe/Istanbul",
            "Europe/Jersey",
            "Europe/Kaliningrad",
            "Europe/Kiev",
            "Europe/Lisbon",
            "Europe/Ljubljana",
            "Europe/London",
            "Europe/Luxembourg",
            "Europe/Madrid",
            "Europe/Malta",
            "Europe/Mariehamn",
            "Europe/Minsk",
            "Europe/Monaco",
            "Europe/Moscow",
            "Europe/Nicosia",
            "Europe/Oslo",
            "Europe/Paris",
            "Europe/Podgorica",
            "Europe/Prague",
            "Europe/Riga",
            "Europe/Rome",
            "Europe/Samara",
            "Europe/San_Marino",
            "Europe/Sarajevo",
            "Europe/Simferopol",
            "Europe/Skopje",
            "Europe/Sofia",
            "Europe/Stockholm",
            "Europe/Tallinn",
            "Europe/Tirane",
            "Europe/Tiraspol",
            "Europe/Uzhgorod",
            "Europe/Vaduz",
            "Europe/Vatican",
            "Europe/Vienna",
            "Europe/Vilnius",
            "Europe/Volgograd",
            "Europe/Warsaw",
            "Europe/Zagreb",
            "Europe/Zaporozhye",
            "Europe/Zurich",
            "GB",
            "GB-Eire",
            "GMT",
            "GMT+0",
            "GMT-0",
            "GMT0",
            "Greenwich",
            "HST",
            "Hongkong",
            "Iceland",
            "Indian/Antananarivo",
            "Indian/Chagos",
            "Indian/Christmas",
            "Indian/Cocos",
            "Indian/Comoro",
            "Indian/Kerguelen",
            "Indian/Mahe",
            "Indian/Maldives",
            "Indian/Mauritius",
            "Indian/Mayotte",
            "Indian/Reunion",
            "Iran",
            "Israel",
            "Jamaica",
            "Japan",
            "Kwajalein",
            "Libya",
            "MET",
            "MST",
            "MST7MDT",
            "Mexico/BajaNorte",
            "Mexico/BajaSur",
            "Mexico/General",
            "NZ",
            "NZ-CHAT",
            "Navajo",
            "PRC",
            "PST8PDT",
            "Pacific/Apia",
            "Pacific/Auckland",
            "Pacific/Chatham",
            "Pacific/Chuuk",
            "Pacific/Easter",
            "Pacific/Efate",
            "Pacific/Enderbury",
            "Pacific/Fakaofo",
            "Pacific/Fiji",
            "Pacific/Funafuti",
            "Pacific/Galapagos",
            "Pacific/Gambier",
            "Pacific/Guadalcanal",
            "Pacific/Guam",
            "Pacific/Honolulu",
            "Pacific/Johnston",
            "Pacific/Kiritimati",
            "Pacific/Kosrae",
            "Pacific/Kwajalein",
            "Pacific/Majuro",
            "Pacific/Marquesas",
            "Pacific/Midway",
            "Pacific/Nauru",
            "Pacific/Niue",
            "Pacific/Norfolk",
            "Pacific/Noumea",
            "Pacific/Pago_Pago",
            "Pacific/Palau",
            "Pacific/Pitcairn",
            "Pacific/Pohnpei",
            "Pacific/Ponape",
            "Pacific/Port_Moresby",
            "Pacific/Rarotonga",
            "Pacific/Saipan",
            "Pacific/Samoa",
            "Pacific/Tahiti",
            "Pacific/Tarawa",
            "Pacific/Tongatapu",
            "Pacific/Truk",
            "Pacific/Wake",
            "Pacific/Wallis",
            "Pacific/Yap",
            "Poland",
            "Portugal",
            "ROC",
            "ROK",
            "Singapore",
            "Turkey",
            "UCT",
            "US/Alaska",
            "US/Aleutian",
            "US/Arizona",
            "US/Central",
            "US/East-Indiana",
            "US/Eastern",
            "US/Hawaii",
            "US/Indiana-Starke",
            "US/Michigan",
            "US/Mountain",
            "US/Pacific",
            "US/Pacific-New",
            "US/Samoa",
            "UTC",
            "Universal",
            "W-SU",
            "WET",
            "Zulu",
            "Etc/GMT",
            "Etc/GMT+0",
            "Etc/GMT+1",
            "Etc/GMT+10",
            "Etc/GMT+11",
            "Etc/GMT+12",
            "Etc/GMT+2",
            "Etc/GMT+3",
            "Etc/GMT+4",
            "Etc/GMT+5",
            "Etc/GMT+6",
            "Etc/GMT+7",
            "Etc/GMT+8",
            "Etc/GMT+9",
            "Etc/GMT-0",
            "Etc/GMT-1",
            "Etc/GMT-10",
            "Etc/GMT-11",
            "Etc/GMT-12",
            "Etc/GMT-13",
            "Etc/GMT-14",
            "Etc/GMT-2",
            "Etc/GMT-3",
            "Etc/GMT-4",
            "Etc/GMT-5",
            "Etc/GMT-6",
            "Etc/GMT-7",
            "Etc/GMT-8",
            "Etc/GMT-9",
            "Etc/GMT0",
            "Etc/Greenwich",
            "Etc/UCT",
            "Etc/UTC",
            "Etc/Universal",
            "Etc/Zulu"
          ],
          "type": "string"
        },
        "opt_out": {
          "type": "boolean"
        },
        "bpk_request_needed": {
          "type": "string",
          "format": "date-time"
        },
        "information_email_receipient_fso_form": {
          "readOnly": true,
          "type": "integer"
        },
        "bpk_forced_zip": {
          "type": "string"
        },
        "company_id": {
          "type": "integer"
        },
        "parent_id": {
          "type": "integer"
        },
        "last_reconciliation_date": {
          "type": "string",
          "format": "date-time"
        },
        "contracts_count": {
          "readOnly": true,
          "type": "integer"
        },
        "membership_start": {
          "readOnly": true,
          "type": "string",
          "format": "date"
        },
        "employee": {
          "type": "boolean"
        },
        "speaker": {
          "type": "boolean"
        },
        "supplier_invoice_count": {
          "readOnly": true,
          "type": "integer"
        },
        "frst_blocked": {
          "readOnly": true,
          "type": "boolean"
        },
        "fax": {
          "type": "string"
        },
        "legal_terms_web": {
          "type": "boolean"
        },
        "lastname": {
          "type": "string"
        },
        "activation": {
          "type": "integer"
        },
        "child_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "property_stock_supplier": {
          "type": "integer"
        },
        "user_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "calendar_last_notif_ack": {
          "type": "string",
          "format": "date-time"
        },
        "fore_name_web": {
          "type": "string"
        },
        "unreconciled_aml_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "phonecall_count": {
          "readOnly": true,
          "type": "integer"
        },
        "image_medium": {
          "type": "string",
          "format": "binary"
        },
        "name": {
          "type": "string"
        },
        "debit_limit": {
          "type": "number",
          "format": "float"
        },
        "property_delivery_carrier": {
          "type": "integer"
        },
        "property_account_receivable": {
          "type": "integer"
        },
        "payment_earliest_due_date": {
          "readOnly": true,
          "type": "string",
          "format": "date"
        },
        "contract_ids": {
          "items": {
            "type": "integer"
          },
          "readOnly": true,
          "type": "array"
        },
        "payment_amount_overdue": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "gender": {
          "enum": [
            "male",
            "female",
            "other"
          ],
          "type": "string"
        },
        "commercial_partner_id": {
          "readOnly": true,
          "type": "integer"
        },
        "message_follower_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "create_date": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "notify_email": {
          "enum": [
            "none",
            "always"
          ],
          "type": "string"
        },
        "street": {
          "type": "string"
        },
        "partner_latitude": {
          "type": "number",
          "format": "float"
        },
        "donation_deduction_disabled": {
          "type": "boolean"
        },
        "task_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "bpk_request_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "vat_subjected": {
          "type": "boolean"
        },
        "last_bpk_request": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "implemented_partner_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "no_subscribe": {
          "type": "boolean"
        },
        "main_personemail_id": {
          "readOnly": true,
          "type": "integer"
        },
        "country_id": {
          "type": "integer"
        },
        "tz_offset": {
          "readOnly": true,
          "type": "string"
        },
        "fstoken_update_date": {
          "type": "string",
          "format": "date-time"
        },
        "debit": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "supplier": {
          "type": "boolean"
        },
        "message_summary": {
          "readOnly": true,
          "type": "string"
        },
        "ref": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "latest_followup_level_id": {
          "readOnly": true,
          "type": "integer"
        },
        "picking_warn": {
          "enum": [
            "no-message",
            "warning",
            "block"
          ],
          "type": "string"
        },
        "latest_followup_date": {
          "readOnly": true,
          "type": "string",
          "format": "date"
        },
        "frst_blocked_email": {
          "readOnly": true,
          "type": "boolean"
        },
        "frst_zverzeichnis_id": {
          "readOnly": true,
          "type": "integer"
        },
        "street2": {
          "type": "string"
        },
        "donation_report_ids": {
          "items": {
            "type": "integer"
          },
          "readOnly": true,
          "type": "array"
        },
        "opportunity_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "free_member": {
          "type": "boolean"
        },
        "membership_amount": {
          "type": "number",
          "format": "float"
        },
        "bpk_error_code": {
          "readOnly": true,
          "type": "string"
        },
        "assigned_partner_id": {
          "type": "integer"
        },
        "state_id": {
          "type": "integer"
        },
        "active": {
          "type": "boolean"
        },
        "date_review": {
          "type": "string",
          "format": "date"
        },
        "opportunity_assigned_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "company_name_web": {
          "type": "string"
        },
        "message_is_follower": {
          "readOnly": true,
          "type": "boolean"
        },
        "property_product_pricelist_purchase": {
          "type": "integer"
        },
        "title": {
          "type": "integer"
        },
        "grade_id": {
          "type": "integer"
        },
        "credit": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "payment_next_action": {
          "type": "string"
        },
        "email_bounced": {
          "type": "boolean"
        },
        "message_unread": {
          "readOnly": true,
          "type": "boolean"
        },
        "payment_note": {
          "type": "string"
        },
        "comment": {
          "type": "string"
        },
        "sale_warn": {
          "enum": [
            "no-message",
            "warning",
            "block"
          ],
          "type": "string"
        },
        "purchase_warn": {
          "enum": [
            "no-message",
            "warning",
            "block"
          ],
          "type": "string"
        },
        "color": {
          "type": "integer"
        },
        "image": {
          "type": "string",
          "format": "binary"
        },
        "claim_count": {
          "readOnly": true,
          "type": "integer"
        },
        "invoice_ids": {
          "items": {
            "type": "integer"
          },
          "readOnly": true,
          "type": "array"
        },
        "street_number_web": {
          "type": "string"
        },
        "total_invoiced": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "member_lines": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "bpk_forced_lastname": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "phonecall_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "mass_mailing_stats": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "zip": {
          "type": "string"
        },
        "message_last_post": {
          "type": "string",
          "format": "date-time"
        },
        "signup_expiration": {
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "enum": [
            "default",
            "invoice",
            "delivery",
            "contact",
            "other"
          ],
          "type": "string"
        },
        "opportunity_count": {
          "readOnly": true,
          "type": "integer"
        },
        "function": {
          "type": "string"
        },
        "picking_warn_msg": {
          "type": "string"
        },
        "post_office_box_web": {
          "type": "string"
        },
        "latest_followup_level_id_without_lit": {
          "readOnly": true,
          "type": "integer"
        },
        "fstoken_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "phone": {
          "type": "string"
        },
        "website_meta_description": {
          "type": "string"
        },
        "birthdate_web": {
          "type": "string",
          "format": "date"
        },
        "date": {
          "type": "string",
          "format": "date"
        },
        "date_review_next": {
          "type": "string",
          "format": "date"
        },
        "signup_token": {
          "type": "string"
        },
        "payment_responsible_id": {
          "type": "integer"
        },
        "customer": {
          "type": "boolean"
        },
        "bpk_forced_street": {
          "type": "string"
        },
        "donation_deduction_optout_web": {
          "type": "boolean"
        },
        "sale_order_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "purchase_warn_msg": {
          "type": "string"
        },
        "image_small": {
          "type": "string",
          "format": "binary"
        },
        "birthdate": {
          "type": "string"
        },
        "vat": {
          "type": "string"
        },
        "has_image": {
          "readOnly": true,
          "type": "boolean"
        },
        "membership_stop": {
          "readOnly": true,
          "type": "string",
          "format": "date"
        },
        "website_meta_keywords": {
          "type": "string"
        },
        "invoice_warn_msg": {
          "type": "string"
        },
        "category_id": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "website": {
          "type": "string"
        },
        "payment_next_action_date": {
          "type": "string",
          "format": "date"
        },
        "use_parent_address": {
          "type": "boolean"
        },
        "signup_type": {
          "type": "string"
        },
        "bpk_request_error": {
          "readOnly": true,
          "type": "string"
        },
        "message_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "anrede_individuell": {
          "type": "string"
        },
        "meeting_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "date_partnership": {
          "type": "string",
          "format": "date"
        },
        "bpk_request_error_tries": {
          "type": "integer"
        },
        "bpk_forced_firstname": {
          "type": "string"
        },
        "self": {
          "readOnly": true,
          "type": "integer"
        },
        "invoice_warn": {
          "enum": [
            "no-message",
            "warning",
            "block"
          ],
          "type": "string"
        },
        "prevent_donation_deduction": {
          "type": "boolean"
        },
        "id": {
          "readOnly": true,
          "type": "integer"
        },
        "property_account_payable": {
          "type": "integer"
        },
        "website_meta_title": {
          "type": "string"
        },
        "name_zwei": {
          "type": "string"
        },
        "title_web": {
          "type": "string"
        },
        "persongruppe_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "website_published": {
          "type": "boolean"
        },
        "is_company": {
          "type": "boolean"
        },
        "associate_member": {
          "type": "integer"
        },
        "bpk_state": {
          "readOnly": true,
          "enum": [
            "new",
            "disabled",
            "missing_data",
            "pending",
            "found",
            "error_max_tries",
            "error"
          ],
          "type": "string"
        },
        "bank_ids": {
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "firstname": {
          "type": "string"
        },
        "donation_receipt_web": {
          "type": "boolean"
        },
        "section_id": {
          "type": "integer"
        },
        "property_supplier_payment_term": {
          "type": "integer"
        },
        "write_date": {
          "type": "string",
          "format": "date-time"
        },
        "property_stock_customer": {
          "type": "integer"
        },
        "partner_longitude": {
          "type": "number",
          "format": "float"
        },
        "website_short_description": {
          "type": "string"
        },
        "display_name": {
          "readOnly": true,
          "type": "string"
        },
        "lang": {
          "enum": [
            "en_US",
            "de_DE"
          ],
          "type": "string"
        },
        "create_uid": {
          "type": "integer"
        },
        "membership_state": {
          "readOnly": true,
          "enum": [
            "none",
            "canceled",
            "old",
            "waiting",
            "invoiced",
            "free",
            "paid"
          ],
          "type": "string"
        },
        "credit_limit": {
          "type": "number",
          "format": "float"
        },
        "payment_amount_due": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "meeting_count": {
          "readOnly": true,
          "type": "integer"
        },
        "user_id": {
          "type": "integer"
        },
        "mobile": {
          "type": "string"
        },
        "bpk_forced_birthdate": {
          "type": "string",
          "format": "date"
        },
        "fstoken_update": {
          "type": "string"
        },
        "membership_cancel": {
          "readOnly": true,
          "type": "string",
          "format": "date"
        },
        "website_description": {},
        "property_payment_term": {
          "type": "integer"
        },
        "sale_warn_msg": {
          "type": "string"
        },
        "task_count": {
          "readOnly": true,
          "type": "integer"
        }
      }
    }
  },
  "responses": {
    "400": {
      "description": "Invalid Data",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "401": {
      "description": "Authentication information is missing or invalid",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    },
    "500": {
      "description": "Server Error",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "res.partner",
      "description": "Everything about res.partner"
    }
  ]
}