header, main, footer {
    color: #000000;
    background-color: #ffffff;
}


#email_template .email_preview_border {
    overflow: hidden !important;
    border: 1px solid #d8d8d8;
    height: 130px;
    box-shadow: 2px 2px 6px rgba(2,2,2,0.2);
    margin-bottom: 12px;
}

#email_template #email_themes .email_preview_border {
    height: 260px;
    box-shadow: 2px 2px 8px rgba(2,2,2,0.3);
}

/* DELETE BUTTON */
#email_template .email_preview_border .email_template_delete {
    position: absolute;
    right: 15px;
    z-index: 1900;
    font-size: 1px;
}
#email_template .email_preview_border .email_template_delete > a {
    padding: 2px 3px;
}


/* FORM CONTROLLS */
#email_template .make_relative {
    position: relative;
    width: 100%;
}

#email_template .form-group,
#email_template .input-group {
    width: 100%;
}

/* email template name */
#email_template .form-control {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    font-size: 11px;
    height: 2em;
    /*font-weight: bold;*/
    text-align: center;
}

/* Submit Button */
#email_template .submit-button .btn,
#email_template .input-group-addon {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
#email_template .submit-button {
    position: absolute;
    bottom: 56px;
    right: -24px;
    z-index: 50;
    background-color: #e8e8e8;
    background-color: transparent;
    padding: 8px 7px 8px 10px;
    border-radius: 60px;
}
#email_template .submit-button button.btn {
    color: #2e6da4;
    color: transparent;
}

#email_template form:active .submit-button,
#email_template form:focus-within .submit-button,
#email_template form:focus .submit-button,
#email_template form:hover .submit-button,
#email_template form:active .submit-button button[type='submit'].btn,
#email_template form:focus-within .submit-button button[type='submit'].btn,
#email_template form:focus .submit-button button[type='submit'].btn,
#email_template form:hover .submit-button button[type='submit'].btn {
    /*color: #337ab7;*/
    /*background-color: #e6e6e6;*/
    color: #ffffff;
    background-color: #418bca;
    border-radius: 30px;
}
#email_template form:active .submit-button,
#email_template form:focus-within .submit-button,
#email_template form:focus .submit-button,
#email_template form:hover .submit-button {
    box-shadow: #c6c6c6 1px 1px 4px;
}


/* E-Mail Template Form-Inputs */
#email_template form.email_template_inputs {
    margin-bottom: 0.2em;
}
#email_template .form-group.theme_selector {
    margin:0;
    padding: 0 15px;
    text-align: center;
}
#email_template .form-group.email_template_name {
    margin-bottom: 0.75em;
}
#email_template .form-group.theme_selector .input-group {
    display: inline-block;
    /*padding-right: 5px;*/
}
#email_template .form-group.theme_selector .form-control {
    font-size: 12px;
    font-weight: normal;
    text-align-last:center;
    height: 1.2em;
}


#email_template .email_template_box {
    margin-bottom: 3em;
}

#email_template .email_template_screenshot,
#email_template .email_template_view_screenshot {
    width: 100%;
}

/* pagination */
#email_template .pagination {
    padding-left: 15px;
    margin: 1em 0 2em 0;
    border-radius: 6px;
}
#email_template .pagination > li:first-child > a,
#email_template .pagination > li:first-child > span {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#email_template .pagination > li:last-child > a,
#email_template .pagination > li:last-child > span {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* ANIMATIONS */

#email_template #email_themes .email_preview_border,
#email_template .email_preview_border {
    -webkit-transition: box-shadow 300ms;/* Safari */
    transition: box-shadow 300ms;
}
#email_template #email_themes .email_preview_border:hover,
#email_template .email_preview_border:hover {
    box-shadow: 2px 2px 10px rgba(2,2,2,0.32);
}

#email_template .email_template_screenshot,
#email_template .email_template_view_screenshot {
    min-width: 100%;
    -webkit-transition: min-width 300ms;/* Safari */
    transition: min-width 300ms;
}
#email_template .email_template_screenshot:hover,
#email_template .email_template_view_screenshot:hover {
    min-width: 101%;
}

#email_template .email_preview_border .email_template_delete {
    -webkit-transition: font-size 160ms;/* Safari */
    transition: font-size 160ms;
    /*transition-delay: 140ms;*/
}
#email_template .email_preview_border:hover .email_template_delete {
    font-size: 14px;
}


/* GLYPHICON FUNCTION ICONS */
#email_template .email_template_box {
    margin-bottom: 1.25em;
}
#email_template .email_template_functions {
    display: none;
}
#email_template .email_preview_border .email_template_functions_icons {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 88px;
    z-index: -1900;
    font-size: 14px;
}
#email_template .email_preview_border:hover .email_template_functions_icons {
    z-index: 1900;
}
#email_template .email_preview_border .email_template_functions_icons .btn-sm {
    padding: 0;
    font-size: 0;
    box-shadow: 1px 1px 3px rgba(2,2,2,0.2);
    -webkit-transition: padding 160ms, font-size 160ms;/* Safari */
    transition: padding 160ms, font-size 160ms;
}
#email_template .email_preview_border:hover .email_template_functions_icons .btn-sm {
    padding: 5px 10px;
    font-size: 22px;
    line-height: 1.5;
    border-radius: 3px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(2,2,2,0.2);
}

#email_template .email_template_name textarea.form-control  {
    overflow: hidden;
    resize: none;
    min-height: 4em;
    margin-top: 0.75em;
    padding: 0 12px;
}

/* TODO: Submit Button v2 */
