/* ATTENTION: These are the styles for the default email theme - It is NOT the Datadialog email theme */

/* ----- */
/* FONTS */
/* ----- */
p, h1, h2, h3, h4, h5, h6,
.headerCell, .footerCell,
.textContent, .textContentLast,
.buttonContent,
.emailCalendarDay, .emailCalendarMonth {
    font-family: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
}

/* ------------ */
/* RESET STYLES */
/* ------------ */
table {
    border-collapse: collapse;
}

img, a img {
    border: 0;
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 1em 0;
}

/* ------ */
/* STYLES */
/* ------ */
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    line-height: 125%;
    text-align: left;
}
h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 30px;
}
h2 {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 16px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 14px;
}

.textContent, .textContentLast {
    color: #1a1e25;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    text-align: left;
}

#emailBody a,
.textContent a,
.textContentLast a {
    color: #000000;
    text-decoration: underline;
}

.headerCell, .footerCell {
    font-size: 11px;
    color: #000000;
}

.headerCell {
    padding-top: 20px;
}

.footerCell {
    padding-bottom: 20px;
}

.headerCell a, .footerCell a {
    font-size: 11px;
    color: #000000;
}

.emailButton {
    background-color: #007593;
    border-collapse: separate;
    border-radius: 5px;
}

.buttonContent {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    padding: 15px;
    text-align: center;
}

.buttonContent a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}
