.kanban_icon_box {
    margin: 6px 0 0 0;
    /*border-top: 1px dotted rgba(1, 1, 1, 0.1);*/
    /*border-bottom: 1px dotted rgba(1, 1, 1, 0.1);*/
    line-height: 20px;
    font-size: 12px;
    text-align: right;
    color: #969696;
}
.kanban_icon_box .oe_e {
    display: inline-block;
    font-size: 30px;
    line-height: 20px;
    margin: 0 3px;
    color: #969696;
}
.kanban_icon_box .oe_e.large_icon {
    display: inline-block;
    font-size: 36px;
    line-height: 20px;
    margin: 0 12px 0 0;
    float: left;
}


.openerp .oe_kanban_view .oe_kanban_content .kanban_task_footer .oe_star_on,
.openerp .oe_kanban_view .oe_kanban_content .kanban_task_footer .oe_star_off {
    text-shadow: none;
    vertical-align: inherit;
    position: inherit;
    top: inherit;
    line-height: 12px;
}

.openerp .oe_kanban_view .oe_kanban_content .oe_tag {
    background: #969696;
}

.openerp .oe_kanban_view .oe_kanban_content [name='kanban-task-tags'] {
    text-align: right;
}

.openerp .kanban_task_footer .oe_kanban_status {
    height: 14px;
    width: 14px;
    margin-top: 3px;
    margin-left: 3px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    background-image: none;
    background-color: #bbbbbb;
}
.openerp .kanban_task_footer .oe_kanban_status_green {
    background-image: none;
    background-color: #4aa94a;
}

/* PROJECT KANBAN VIEW */
.openerp .oe_kanban_view .oe_kanban_content[name='project_oe_kanban_content'] .oe_kanban_project_list {
    display: none;
}
.openerp .oe_kanban_view .oe_kanban_content[name='project_oe_kanban_content'] .oe_kanban_project_avatars {
    text-align: center;
    margin-top: 6px;
}
.openerp .oe_kanban_view .oe_kanban_content[name='project_oe_kanban_content'] .kanban_icon_box {
    margin: 0;
    text-align: center;
}
.openerp .oe_kanban_view .oe_kanban_content[name='project_oe_kanban_content'] [name='project_linked_records_info'] {
    margin: 0 22px;
}
.openerp .oe_kanban_view .oe_kanban_project {
    /* min-height: inherit; */
    min-height: 130px;
}
.openerp .oe_kanban_view .oe_kanban_content[name='project_oe_kanban_content'] .oe_kanban_project_avatars img {
    width: 20px;
    height: 20px;
}
