
/* Small Fix: Empty paragraphs would show a rectangle without this fix */
#wrapwrap p:empty:after {
    border: none;
    color: transparent;
}
.jquery-validate-error-message {
    font-size: 65%;
    margin-left: 1em;
}
