/* Heart for the shopping cart in top menu */
/*.fa-shopping-cart:before {*/
    /*content: "\f004";*/
    /*!*content: "\f16b";*!*/
    /*!*content: "\f16b";*!*/
    /*!*content: "\f067";*!*/
/*}*/

/* Checkout-Pages Checkout-Step-Indicator */
.wsd_checkout_pages_header .checkout_steps_navigation {
    margin-top: 1em;
}

/* checkout page bottom margin */
.oe_website_sale {
    margin-bottom: 1em;
}
/* checkout custom form headers (including one-page-checkout extras) */
#wsd_checkout_form h3 {
    margin-bottom: 1em;
}
.wsd_opc_payment, .wsd_opc_delivery {
    margin-top: 2em;
}

/* Checkout Pages Main Header */
body .oe_website_sale h1,
body .oe_website_sale h2,
body .oe_website_sale h3,
body .oe_website_sale h4,
body .oe_website_sale h5,
body .oe_website_sale h6 {
    margin: 0.25em 0;
}
body .oe_website_sale h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Input Fields Placeholder Text Color */
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ccc;
}

/* jquery validate form feedback icons */
#wsd_checkout_form .form-control-feedback {
    top: 33px;
}
#wsd_checkout_form .shipping-fields .form-control-feedback,
#wsd_checkout_form .billing-fields .form-control-feedback {
    right: 22px;
}
/* Checkout form check boxes */
#wsd_checkout_form .checkbox {
    min-height: 66.719px;
    margin: 0;
    margin-bottom: 15px;
}
#wsd_checkout_form .checkbox label {
    line-height: 1em;
}
#wsd_checkout_form .checkbox label input {
    line-height: 1em;
}

/* One-Page-Checkout */
#wsd_checkout_form .tab-acquirer-image img,
#wsd_checkout_form .tab-acquirer-image img.img-responsive {
    display: inline-block;
    max-height: 0.99em;
    width: auto;
}

/* Payment Page */
.wsd_payment_page_content address {
    margin-bottom: 0;
}
.payment_shipping_address {
    margin-top: 2em;
}

/* PRODUCT PAGE website_sale_donate alternative page layout modifications */
/* Bigger Checkout button */
.btn-xl, .btn-group-xl > .btn {
    padding: 14px 24px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

h3.amount_title {
    text-align: left;
}
.product_variants_as_product_list {
    padding: 0 1em;
}
#website_sale_donate img.product-image {
    display: inline;
}
#wsd-checkout-box img.product-image {
    width: 200px;
    height: 200px;
    box-shadow: 2px 1px 6px rgb(198, 198, 198);
    border: 3px solid rgb(255, 255, 255);
}
.ppt_opc #wsd-checkout-box img.product-image {
    width: 100%;
    height: auto;
    box-shadow: none;
    border: none;
    border-radius: 0;
}
#wsd-checkout-box .oe_website_spinner {
    width: 100%;
    padding: 0 24%
}
#website_sale_donate .oe_price_h4 {
    font-size: 28px;
}
.price_donate,
#description_sale {
    padding: 0 12%;
}
.ppt_opc .price_donate,
.ppt_opc #description_sale {
    padding: inherit;
}
.ppt_opc .payment_interval_ids small.text-muted {
    display: block;
    margin: 0.75em 0 0.25em 0;
}
.ppt_opc .payment_interval_ids .radio {
    margin-top: 0.25em;
    margin-right: 1em;
}
.price_donate .input-group-addon {
    background-color: transparent;
}
.price_donate .form-control {
    font-size: 28px;
    padding: 3px 3px;
    color: rgb(66, 139, 202);
    text-align: center;
}
.price_donate .input-group-addon {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    color: rgb(119, 119, 119);
    min-width: 70px;
}
.price_donate_suggested_currency {
    position: absolute;
    display: inline-block;
    font-size: 8px;
    color: grey;
    line-height: 1em;
    margin-top: 3px;
    margin-left: 3px;
}
.ppt_opc .price_donate_suggested {
    min-width: 70px;
}
/* Crowdfunding */
.crowdfunding {
    text-align: center;
}
/* Crowdfunding Product Page */
.crowdfunding h1,
.crowdfunding .h1 {
    margin: 0;
    padding: 0;
    font-size: 500%;
}
.crowdfunding p {
    margin: 0.5em 0 0.2em 0;
    padding: 0;
    font-size: 200%;
}
.funding_progress_bar.progress {
    height: 32px;
    margin-bottom: 8px;
}
.funding_progress_bar.progress .progress-bar {
    min-width: 2em;
    line-height: 32px;
    font-size: 14px;
}
/* Crowdfunding Checkout Panel */
#wsd-checkout-box .crowdfunding {
    padding: 1em 12% 0.5em 12%;
}
#wsd-checkout-box .crowdfunding h1,
#wsd-checkout-box .crowdfunding .h1 {
    font-size: 62px;
}
#wsd-checkout-box .crowdfunding p {
    font-size: inherit;
}
#wsd-checkout-box .crowdfunding p {
    margin: 0.25em 0;
}


/* CART PAGE */
/* reset odoo setting */
.oe_cart table td:first-child {
    min-width: inherit;
}
/* table settings */
.oe_cart table {
    margin-bottom: 0;
}
.cart_controls {
    width: 166px;
}
.cart_controls .remove_product{
    line-height: 2em;
}
/* cart total */
#cart_total {
    line-height: 1.75em;
    border-top: 1px solid black;
}
#cart_total tr td:first-child {
    padding-right: 1em;
}
#cart_total abbr[title],
#cart_total abbr[data-original-title] {
    border: none;
}
#order_total h3 {
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}

/* SMALL CART */
.oe_cart.small_cart {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Product Name (Text) */
.oe_cart.small_cart a[name="product_name"] {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-right: 0.5em;
    display: block;
}
/* Download Button */
.oe_cart.small_cart a[name="product_download_file_link"] {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
}
/* Payment Interval */
.oe_cart.small_cart [name="product_payment_interval"] {
    line-height: 1.6666em;
}
/* Quantity Input Field */
#wsd-checkout-box .oe_cart.small_cart .oe_website_spinner,
.oe_cart.small_cart .oe_website_spinner {
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
    width: auto;
}
#wsd-checkout-box .oe_cart.small_cart .oe_website_spinner input,
.oe_cart.small_cart .oe_website_spinner input {
    margin: 0;
    padding: 0;
    width: 52px;
    height: auto;
    line-height: 1.9em;
}
/* Unit Price */
.oe_cart.small_cart .small_cart_price_unit {
    display: block;
    line-height: 2em;
    min-width: 74px;
    margin-left: 6px;
}
/* Remove-Product-Link Garbage Icon */
.oe_cart.small_cart .remove_product {
    display: block;
    line-height: 2em;
    font-size: 12px;
}
/* Checkout Page Overwrites */
.wsd_checkout_page_content .oe_cart.small_cart {
    font-size: 12px;
}
.wsd_checkout_page_content .oe_cart.small_cart .small_cart_price_unit {
    min-width: 60px;
}
/* Download Button */
.wsd_checkout_page_content .oe_cart.small_cart a[name="product_download_file_link"] {
    font-size: 10px;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.9em;
}
/* Fix for very small screens */
@media (max-width: 500px) {
  .oe_cart table tr {
    float: initial;
    width: inherit;
    display: block;
  }
  .oe_cart table td {
    float: none;
    width: auto;
    display: table-cell !important;
  }
  .oe_cart table td:nth-child(2) {
    border-top-style: solid;
    border-top-width: 1px;
  }
  .oe_cart table#cart_total td:nth-child(2) {
    border-top-style: none;
  }
}


/* PRODUCT LISTINGS */
.oe_product .product_price a.a-submit {
    margin-left: 1em;
}

.oe_product .oe_product_image {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.oe_product .oe_product_image img {
    width: 100%;
    height:100%;
    transition: all 2s ease 0s;
}
.oe_product .oe_product_image img:hover {
    width: 112%;
    height:112%;
    max-width: 112%;
    max-height: 112%;
}
.oe_product.oe_list .oe_product_image img {
  max-height: 160px;
  max-width: 160px;
}

.oe_product section {
    background: rgba(255, 255, 255, 0.9);
}
.col-md-9 .oe-height-2 {
  height: 170px;
}
.col-md-9 .oe-height-4 {
  height: 340px;
}
.col-md-9 .oe-height-8 {
  height: 680px;
}

#products_grid table {
  border-spacing: 8px;
  border-collapse: separate;
}
.oe_product.oe_grid {
  border: 1px solid rgb(217, 217, 217);
  box-shadow: 2px 2px 4px rgb(230, 230, 230);
    transition: all 0.6s ease 0s;

}
.oe_product.oe_grid:hover {
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 2px 2px 12px rgb(160, 160, 160);
}

.oe_grid h4,
.oe_grid .h4,
.oe_grid h5,
.oe_grid .h5,
.oe_grid h6,
.oe_grid .h6 {
  margin-top: 8px;
  margin-bottom: 2px;
}
.oe_product.oe_grid .oe_subdescription {
  margin-bottom: 4px;
}

.oe_grid .funding_progress_bar.progress {
    height: 22px;
    border: 1px solid rgb(222, 222, 222);
}
.oe_grid .funding_progress_bar.progress .progress-bar {
    min-width: 2em;
    line-height: 22px;
    font-size: 12px;
}
.oe_product.oe_list form {
    /*display: block;*/
    width: 100%;
}

/* bis 400 px */
@media (max-width: 400px) {
    #products_grid .oe_product section {
        background: rgba(255, 255, 255, 0.85);
    }
    .oe_product .oe_product_image {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .oe_product .oe_product_image img {
        width: auto;
        transition: none;
    }
    .oe_product .oe_product_image img:hover {
        width: auto;
        height:100%;
        max-width: 100%;
        max-height: 100%;
    }
}
/* ab 400 px (bis 767 px) */
@media (min-width: 400px){
    .oe_product.oe_list {
        min-height: 170px;
    }
    .oe_product.oe_list h5, .oe_product.oe_list .h5 {
        font-size: 24px;
    }
    #products_grid_before {
        padding-top: 1px;
    }
    .oe_product.oe_list section {
        margin-right: 180px;
    }
}
/* ab 768px */
@media (max-width: 768px) {
    #products_grid .oe_product {
       margin-top: 1em;
    }
    .oe_product .oe_product_image img {
        width: auto;
        transition: none;
    }
    .oe_product .oe_product_image img:hover {
        width: auto;
        height:100%;
        max-width: 100%;
        max-height: 100%;
    }
    #products_grid .oe_product.oe_list {
       height: 180px;
    }
}
/* ab 992px */
@media (min-width: 992px) {
    .col-md-9 .oe-height-2 {
        height: 165px;
    }
    .col-md-9 .oe-height-4 {
        height: 330px;
    }
    .col-md-9 .oe-height-8 {
        height: 660px;
    }
}
/* ab 1200px */
@media (min-width: 1200px) {
    .col-md-9 .oe-height-2 {
        height: 201px;
    }
    .col-md-9 .oe-height-4 {
        height: 402px;
    }
    .col-md-9 .oe-height-8 {
        height: 804px;
    }
}


