/* ----------------------- */
/* SNIPPET STRUCTURE GROUP */
/* ----------------------- */
/* Edit-mode-only indicator */
#wrap.oe_editable .snippet_structure_group {
    min-height: 100px;
    border: 3px hotpink dashed;
    margin: 4px 5px;
    padding: 5px 4px;
    /*margin-top: 40px;*/
    /*margin-bottom: 1px;*/
}

/* --------------------- */
/* SNIPPET CONTENT GROUP */
/* --------------------- */
/* Edit-mode-only indicator */
#wrap.oe_editable .snippet_content_group {
    min-height: 100px;
    border: 1px pink dashed;
}

/* ---------------------- */
/* GROUP SNIPPETS OPTIONS */
/* ---------------------- */
/* Background colors */
.gso_bgcol_grey > .snippet_structure_group_outer,
.gso_bgcol_grey > .snippet_content_group_outer  {
    background-color: lightgrey;
}
.gso_bgcol_red > .snippet_structure_group_outer,
.gso_bgcol_red > .snippet_content_group_outer  {
    background-color: lightpink;
}
/* Foreground colors */
.gso_fgcol_yellow > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_fgcol_yellow > .snippet_content_group_outer > .snippet_content_group_inner  {
    background-color: lightgoldenrodyellow;
}
.gso_fgcol_blue > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_fgcol_blue > .snippet_content_group_outer > .snippet_content_group_inner  {
   background-color: lightblue;
}
/* Height */
.gso_minheight_s > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_minheight_s > .snippet_content_group_outer > .snippet_content_group_inner {
    min-height: 140px;
}
.gso_minheight_m > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_minheight_m > .snippet_content_group_outer > .snippet_content_group_inner {
    min-height: 280px;
}
.gso_minheight_l > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_minheight_l > .snippet_content_group_outer > .snippet_content_group_inner {
    min-height: 560px;
}
/* Padding Inner */
.gso_padding_inner_s > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_padding_inner_s > .snippet_content_group_outer > .snippet_content_group_inner {
    padding: 6px;
}
.gso_padding_inner_m > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_padding_inner_m > .snippet_content_group_outer > .snippet_content_group_inner {
    padding: 12px;
}
.gso_padding_inner_l > .snippet_structure_group_outer > .snippet_structure_group_inner,
.gso_padding_inner_l > .snippet_content_group_outer > .snippet_content_group_inner {
    padding: 24px;
}
/* Padding Outer */
.gso_padding_outer_s > .snippet_structure_group_outer,
.gso_padding_outer_s > .snippet_content_group_outer {
    padding: 6px;
}
.gso_padding_outer_m > .snippet_structure_group_outer,
.gso_padding_outer_m > .snippet_content_group_outer {
    padding: 12px;
}
.gso_padding_outer_l > .snippet_structure_group_outer,
.gso_padding_outer_l > .snippet_content_group_outer {
    padding: 24px;
}
