@charset "utf-8";

/* Set width of form */
.auth_partner_form > .container {
    width: 600px;
}

/* FORM */
#auth_partner_form {
    margin-bottom: 2em;
}

/* FORM ELEMENTS */
#auth_partner_form label {
    color: #909090;
    font-size: 85%;
}
/* Birthday large */
#auth_partner_form input[name='birthdate'] {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    /*border-radius: 6px;*/
    /*border-color: #ee9900;*/
}
#auth_partner_form label.f-donation_deduction_optout_web {
    margin-bottom: 4em;
}
#apf_submit_button {
    margin-top: 1em;
}

/* JQUERY VALIDATE */
.form-control-feedback {
    right: 12px;
}
