@charset "utf-8";

/* SMALLER ON LARGE SCREENS */
@media (min-width: 992px){
    #wrap .apf_container.container {
        width: 68%;
    }
}


/* FORM */
#auth_partner_form {
    margin-bottom: 2em;
}

/* FORM ELEMENTS */
#auth_partner_form label {
    color: #909090;
    font-size: 85%;
}
/* Birthday large */
.large-input input {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    /*border-radius: 6px;*/
    /*border-color: #ee9900;*/
}

#apf_submit_button {
    margin-top: 1em;
}

/* JQUERY VALIDATE */
.apf_container .form-control-feedback {
    right: 16px;
    top: initial;
    bottom: -1px;
}
.apf_container .large-input .form-control-feedback {
    bottom: 5px;
}
