@charset "utf-8";

/* Narrow ON LARGE SCREENS */
@media (min-width: 992px){
    #wrap .apf_container.container {
        width: 68%;
    }
}


/* FORM */
#auth_partner_form {
    margin-bottom: 2em;
}

/* FORM ELEMENTS */
#auth_partner_form label {
    color: #909090;
    font-size: 85%;
}

#apf_logout_button {
    margin-top: 1em;
}

#apf_submit_button {
    margin-top: 1em;
}

/* JQUERY VALIDATE */
/* reset bootstrap setting for auth_partner_form */
.apf_container .has-feedback label ~ .form-control-feedback {
    top: initial;
}
/* set default values */
.apf_container .form-control-feedback {
    right: 18px;
    bottom: -1px;
}
.apf_container .large-input .form-control-feedback {
    bottom: 5px;
}

/* SNIPPET STYLING */
html[data-editable="1"] .snippet_apf_bpk_status {
    border: 1px solid #ececec;
    padding: 18px;
    border-radius: 6px;
}
html[data-editable="1"] .snippet_apf_bpk_status {
    border: 1px solid #ececec;
    padding: 18px;
    border-radius: 6px;
}

/* Hide information text for non website editors */
html:not([data-editable="1"]) .apf_bpk_status_editinfo {
    display: none;
}

/* Initially hide apf_bpk_status_message messages for non website editors
 * Will be unhidden by java script if the bpk request returned an result
 */
html:not([data-editable="1"]) .apf_bpk_status_message {
    display: none;
}

.apf_bpk_status_message {
    padding: 15px;
}
